{% extends "base.html" %}
{% load static%}

{% block title %}
My Blog
{% endblock  %}

{% block css_files  %}
    <link rel="stylesheet" href="{% static 'blog/post.css' %}">
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
    <link rel="stylesheet" href="{% static 'blog/icons.css' %}">
{% endblock  %}

{% block content  %}
    <section id="welcome">
        <header>
            <img src="{% static 'blog/images/perfil.jpg' %}" alt="Author of this blog">
            <h2>PEDRO'S BLOG</h2>  
        </header>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
        molestiae quas vel sint commodi.
        </p>
    </section>
    <section id="latest-posts"> 
        <h2>My Latests Thoughts</h2>
        <ul>
            {% for post in posts %}
                {% include "blog/includes/post.html" %}
            {% endfor %}
        </ul>
    </section>

    <section id="about">
        <h2>What I do</h2>
        <p style="font-size: 1.3rem;">I'm a Computer Science engineer student at Aveiro University
        </p>
        <a href="https://www.instagram.com/pedro_monteiro_01/"><i class="fab fa-instagram-square"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100009227114526"><i class="fab fa-facebook-square"></i></a>
        <a href="https://www.linkedin.com/in/pedro-monteiro-411a2020a/"><i class="fab fa-linkedin"></i></a>
    </section>
{% endblock  %}
